@charset "utf-8";
body {
    font-family: "Yu Gothic", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.04em;
    -webkit-text-size-adjust: 100%;
}

:root {
    --main-black: #444444;
    --main-blue: #b3e5fc;
    --main-white: #ffffff;
    --main-yellow: #fff762e5;
}

a,
a:hover,
a:visited {
    color: inherit;
    text-decoration: none;
}

h2 {
    text-decoration: underline;
    text-decoration-color: var(--main-blue);
    font-size: 2.2em;
    font-weight: 500;
}

@media screen and (max-width: 520px) {
    h2 {
        font-size: 1.6em;
    }
}

h3 {
    font-weight: 500;
}

ul {
    list-style: none;
    padding: 0;
}

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 1;
    width: 100%;
    height: 40px;
    color: var(--main-white);
    background: rgba(0, 0, 0, 0.7);
}

.header_logo {
    display: flex;
    align-items: center;
    font-size: 0.8em;
}

.header_logo img {
    width: 80px;
}

.header_navi {
    display: flex;
    gap: 14px;
    font-weight: bold;
}

@media screen and (max-width: 520px) {
    .header {
        padding: 0 20px;
    }
    .header_logo p {
        display: none;
    }
}

.catch {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url(/images/background.webp) center/cover no-repeat;
    background-attachment: fixed;
    color: var(--main-white);
    font-size: 3.6em;
}

.catch span {
    color: var(--main-blue);
    font-size: 1.4em;
}

@media screen and (max-width: 1024px) {
    .catch {
        font-size: 2.4em;
        background-attachment: scroll;
    }
}

.contentsArea {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
    color: var(--main-black);
}

.about {
    margin-top: 120px;
    line-height: 2.7em;
}

.about p {
    font-size: 1.4rem;
}

.about h2 {
    margin-bottom: 30px;
}

@media screen and (max-width: 1024px) {
    .about {
        line-height: normal;
    }
    .about p {
        font-size: 1em;
    }
}

.work {
    margin-top: 120px;
}

.work_list {
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
}

.work_list h3 {
    margin: 4px 0;
}

.work_list_box:nth-child(n+2) {
    margin-left: 30px;
}

@media screen and (max-width: 1024px) {
    .work_list {
        display: block;
        max-width: 500px;
    }
    .work_list_box {
        display: flex;
        margin-top: 40px;
    }
    .work_list_box img {
        margin-right: 5px;
        width: 200px;
    }
    .work_list_box:nth-child(n+2) {
        margin-left: 0;
    }
}

@media screen and (max-width: 520px) {
    .work_list img {
        width: 100%;
    }
    .work_list_box {
        display: block;
    }
}

.announce {
    margin-top: 120px;
}

.announce h2 {
    margin-bottom: 30px;
}

.announce_contact {
    margin-top: 30px;
    text-align: center;
}

.announce_contact_btn {
    display: inline-block;
    padding: 6px 30px;
    border: 2px solid var(--main-black);
    border-radius: 6px;
    background: var(--main-yellow);
    font-weight: bold;
}

.announce_contact_btn:hover {
    opacity: 0.6;
}

.location {
    margin-top: 120px;
}

.location_wrap {
    display: flex;
}

.location_wrap_list {
    display: table;
    margin: 0 auto;
    margin-top: 20px;
}

.location_wrap_list h3 {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: var(--main-blue);
}

.location_wrap_list li:nth-child(n+3) {
    padding-top: 30px;
    border-top: 1px dashed var(--main-black);
}

.location_wrap_list img {
    margin-right: 10px;
    width: 180px;
}

.location_wrap_list_box {
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin: 50px 0;
}

@media screen and (max-width: 1024px) {
    .location_wrap {
        display: block;
    }
}

.footer {
    text-align: center;
    padding: 10px 0;
    background-color: var(--main-black);
    color: var(--main-white);
    font-size: 0.8em;
}

.footer_list img {
    display: inline;
    margin: 10px auto;
    width: 85px;
}

.formTitle {
    padding-top: 80px;
    margin-bottom: 30px;
}

.form_input {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: solid 1px var(--main-black);
    border-radius: 3px;
}

.form_privacy {
    text-align: center;
    margin: 0, auto;
}

.form_privacy p {
    display: inline-block;
    text-align: left;
}

.form_submit {
    margin: 20px 0;
    text-align: center;
}

.form_submit_btn {
    display: inline-block;
    padding: 6px 30px;
    border: 2px solid var(--main-black);
    border-radius: 6px;
    background: var(--main-yellow);
    font-weight: bold;
    color: var(--main-black);
}

.form_submit_btn:hover {
    opacity: 0.6;
}

.recaptcha {
    text-align: center;
    margin: 20px auto;
    font-size: 0.8em;
}

.recaptcha p {
    display: inline-block;
    text-align: left;
}

.recaptcha a {
    text-decoration: underline;
}

.thanks_title {
    padding-top: 80px;
}

.thanks_text {
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
}

.thanks_text p {
    display: inline-block;
    text-align: left;
}

.thanks_submit {
    text-align: center;
}

.thanks_submit_btn {
    display: inline-block;
    padding: 6px 30px;
    margin: 60px auto;
    border: 2px solid var(--main-black);
    border-radius: 6px;
    background: var(--main-yellow);
    font-weight: bold;
}

.thanks_submit_btn:hover {
    opacity: 0.6;
}

.grecaptcha-badge {
    visibility: hidden;
}